* {
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    
}
img {
    width: 100%;
    border: solid 5px white;
}
.canvas {
    margin-left: 25%;
    width: 50%;

}

h1 {
    text-transform: uppercase;
} 
